.products-container {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 20px;
}

.card {
  background: rgb(8, 174, 99);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: green;
  margin-top: 5px;
}

.loading {
  color: white;       
  font-size: 24px; 
   margin-left: 800px;                           
  text-align: center;  
  margin-top: 50px;
}    
 



.error {
  color: red;
}
